*.iml
.gradle
/local.properties
/.idea/
.env


# Build Outputs
**/build/
/build/

# Local databases
cricket_tracker_database*

# Logs & temp files
logs/
latest_timeline.txt
*.log

# Python cache
__pycache__/

# OS-specific
.DS_Store
